@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');

body {
    font-family: 'Recursive', sans-serif;
    height: 100vh;
    background: 
    linear-gradient(rgba(187, 40, 255, 0.8), rgba(80, 40, 255, 0.8)),
    url('background.jpg') no-repeat center center/ cover;
    color: #ffffff;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

.fa {
    color: black;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    color: white;
}

h1, h2 {
    font-weight: 200;
    margin: 0.4rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    color: black;
}

a {
    color : black;
    text-decoration: none;
}

a:hover {
    color: white;
}

span {
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateY(50px);
    display: inline-block;
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

@media(min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }
    h1 {
        font-size: 3rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}